.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 400px;
}

form div {
  margin-bottom: 15px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="file"] {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

p {
  color: green;
  font-weight: bold;
}


.error-page {
  text-align: center;
  padding: 50px;
  background-color: #f8d7da;
  color: #721c24;
  height: 100vh;
}

.error-page h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.error-page p {
  font-size: 18px;
}

.error-page button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
